#header,
.module h2, .module caption, .inline-group h2 {
    background: #9c27b0;
    color: #fff;
}
#branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}
div.breadcrumbs {
    background: #6a1b9a;
}